button {
    background-color: white;
    border: 0;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    font-weight: bold;
    color: #13524a;
    transition: all 0.3s;
    font-family: 'Playfair Display';
}
button:hover{
    transform: translateY(-5px);
}
button:active{
    transform: translateY(0px);
}

@media screen and (min-width: 960px){
    button {
        background-color: white;
        border: 0;
        padding: 15px 25px;
        border-radius: 5px;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: bold;
        color: #13524a;
    }
}