
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .AppMain {
    width: 100%;
    background-color: #186e63;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    
  }
}

@media screen and (min-width: 700px) {
  .AppMain {
    width: 100%;
    background-color: #186e63;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
  }
  .cardbox {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
  }
}

@media screen and (min-width: 1150px) {
  .AppMain {
    width: 100%;
    background-color: #186e63;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
  }
  .cardbox {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
.AppMain {
  width: 100%;
  background-color: #186e63;
  padding: 30px 40px 30px 40px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .AppMain {
    width: 100%;
    background-color: #186e63;
    padding: 30px 40px 30px 40px;
    display: flex;
    flex-direction: column;
  }
  .cardbox {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
  }
}
