@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

.app {
  margin: 0 ;
  margin-top: 70px !important;
  font-family: 'Playfair Display';

}
@media screen and (min-width:500px) {
  .app{
    width: 100%;
    margin: 0 auto;
  }
  
}
